.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    height: 80px;

    #searchForm {
      display: flex;
      flex-direction: column;
      height: 70px;
    }

    input,
    button {
      height: 50%;
    }

    input {
      border-radius: 10px 10px 0px 0px;
      text-align: center;
      border: none;
      outline: none;
    }

    button {
      border-radius: 0px 0px 10px 10px;
      font-size: 1.5rem;
      &:hover {
        background: $color-hover;
      }
    }
  }

  .sort-container {
    margin: 8px auto;
    width: 220px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

    #goodToBad {
      border-radius: 10px 0 0 10px;
    }
    #badToGood {
      border-radius: 0 10px 10px 0;
    }
    #goodToBad,
    #badToGood {
      background: $color-button;
      width: 110px;
      transition: 0.3s;
      position: relative;
      font-size: 1.2rem;

      &:hover {
        background: $color-hover;
      }
    }
    #goodToBad span {
      transform: translateY(-50%) rotate(-90deg);
      right: 18px;
    }
    #badToGood span {
      transform: translateY(-50%) rotate(90deg);
      left: 16px;
    }
    #goodToBad span,
    #badToGood span {
      position: absolute;
      top: 50%;
    }
  }

  .movies-detail {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 16px;
  }
}
