.navigation {
  min-width: 300px;
  margin-left: auto;

  ul {
    display: flex;
    justify-content: space-around;
  }

  a {
    border-radius: 10px;
    text-decoration: none;
    width: 150px;
    &:hover {
      background: $color-hover;
    }
  }

  li {
    color: $color-font;
    cursor: pointer;
    text-align: center;
  }

  .nav-active {
    position: relative;
    background: $color-button;
    border-radius: 10px;
  }
}
